@model Expense

<div class="container">
    <h2>Add Expenses</h2>

    <form asp-action="Create" method="post">
        <div>
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control"/>
        </div>

        <div>
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" />
        </div>

        <div>
            <label asp-for="Category" class="form-label"></label>
            <input asp-for="Category" class="form-control" />
        </div>

        <button class="btn btn-success mt-3">Add Expense</button>

        @* <div> *@
        @*     <label asp-for="DateTime" class="form-label"></label> *@
        @*     <input asp-for="DateTime" class="form-control" /> *@
        @* </div>  meka one nha mokd model eknma hdla thiynne mokkma hari expense ekk awam ekt datetime.now method ekn dan welwa saha dinaya watenna ,server eke hari welwa dnaya thibba nm athi*@

    </form>


</div>